 <center>
    <div class="profile">
     <h1>{{userProfile.name}}</h1>  
     <h1>{{userProfile.id}}</h1>
        <center>
            <h2 class="profileElement">{{userProfile.coin}}</h2>
            <h2 class="profileElement">{{userProfile.level_attack}}</h2>
             <h2 class="profileElement">{{userProfile.level_auto}}</h2>
        </center>
    </div>
</center>


